# Ignore Go build artifacts and dependency cache
*.exe
*.out
*.test
/vendor/

# Ignore Flutter build artifacts
build/
.flutter-plugins
.flutter-plugins-dependencies

# Ignore node_modules if you're using JavaScript-based tools in the frontend
node_modules/

# Ignore Dockerfile(s) and other configuration files if not needed
Dockerfile*
docker-compose.yml
*.md
